
.footer-icons i {
    padding: 10px;
    background: #4b5cef;
    color: #8df397;
    margin: 10px;
    border-radius: 50%;
}

.footer-icons i:hover {
    background: #6dd699;
    color: #18b052;
    transition: 0.6s;
    cursor: pointer;
}

.Footer h5 {
    color: #61c51f;
}

.ft-2 ul {
    list-style: none;
    padding-left: 0;
}

.ft-2 ul li {
    padding: 0.35rem 0;
    font-weight: 500;
}

.ft-2 ul a {
    text-decoration: none;
    color: #000;
    font-size: 1.06rem;
}

.ft-3 p {
    font-weight: 500;
    /* padding: 0.1rem 0; */
    font-size: 1.06rem;
}

.ft-3 i {
    padding-right: 0.5rem;
}



.ft-4 ul {
    list-style: none;
    padding-left: 0;
}

.ft-4 ul li {
    padding: 0.35rem 0;
    font-weight: 500;
}

.ft-4 ul a {
    text-decoration: none;
    color: #000;
    font-size: 1.06rem;
}


.Last-footer {
    background: #1a2ede;
    text-align: center;
    padding: 1rem 0;
}

.Last-footer p {
    font-size: 1rem;
    font-weight: 500;
}