/* Header */
.logo {
    width: 200px !important;
    height: 75px;
}

.header .nav-link-custom {
    font-size: 1.2rem;
}

.header .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
}

.search-input {
    width: 350px;
    border-radius: 25px;
}

@media (max-width: 767.98px) {
    .search-form {
        width: 100%;
        flex-direction: column;
    }

    .search-input {
        width: 100%;
        margin-bottom: 10px;
    }

    .icon-button {
        margin-top: 10px;
    }
}
.active{
    color: black;
    font-weight: 500;
}