.card {
    border: 1px solid #ccc;
    position: relative;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border-radius: 20px;
}

.card img {
    border-radius: 20px;
}

.card:hover {
    transform: scale(1.05);
    border-radius: 20px;
}

.card-footer {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.card:hover .card-footer {
    opacity: 1;
    visibility: visible;
    border-radius: 20px;
}

.new-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
}

@media (max-width: 576px) {
    .card-body h5 {
        font-size: 14px;
    }

    .card-body p {
        font-size: 12px;
    }

    .card-body b {
        font-size: 14px;
    }

    .btn {
        font-size: 12px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .card-body h5 {
        font-size: 16px;
    }

    .card-body p {
        font-size: 14px;
    }

    .card-body b {
        font-size: 16px;
    }

    .btn {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .card-body h5 {
        font-size: 18px;
    }

    .card-body p {
        font-size: 16px;
    }

    .card-body b {
        font-size: 18px;
    }

    .btn {
        font-size: 16px;
    }
}